* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    background-image: url('crs-inicio/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.main-content {
    flex: 1;
    background-color: transparent;
    padding: 20px;
}

.site-header {
    background-color: #d1bfab;
    color: #000000;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 350px;
    height: auto;
}

.site-nav {
    margin-left: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 25px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-icon {
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
}

.nav-icon:hover {
    transform: scale(1.2);
}

.site-footer {
    background-color: #d1bfab;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

.footer-text {
    margin: 0;
    color: black;
}

.red-text {
    color: rgb(0, 0, 0);
}

.hero-section {
    background-image: url('crs-inicio/fondo');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: black;
    padding: 50px 0;
}

.hero-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-button {
    background-color: #f4a261;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #e76f51;
}

.adopt-section {
    padding: 40px 0;
    background-color: transparent;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #d1bfab;
}

.animal-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.animal-card {
    background-color: #ffffff;
    border: 1px solid #d1bfab;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 200px;
}

.animal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.animal-name {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.animal-desc {
    font-size: 1em;
    color: #333333;
}

.faq-section {
    padding: 40px 0;
    background-color: transparent;
}

.faq-item {
    background-color: #ffffff;
    border: 1px solid #d1bfab;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
}

.faq-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.faq-answer {
    display: none;
}
